:root {
  --white: #fff;
  --text: #e0e2e6;
  --NEON-A-1: #7851F2; 
  --NEON-A-1a: #482f96;
  --bg-color: #01132c;
  --bg-color-burger: #012453; 
  --bg-color-modal: #0124538f; 
  --NEON-A-3: #0476A6; 
  --NEON-A-4: #05B3D7; 
  --NEON-A-5: #05DBEF; 
}

/* Reset de Estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--text);
  background-color: var(--bg-color);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Estilo Geral */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;  
}

header {
  max-width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  display: block;
  margin: 0 auto;
  max-width: 90%;  
}

.nav-links {
  display: flex;
  margin-left: 5rem;
  list-style: none;
}

.nav-links li {
  margin-right: 1.5rem;
}

.burger {
  display: none;
}

.container {
  max-width: 70%;
  margin: auto;
  padding: 0 1rem;
}

/* Estilos de Seções */
section {
  padding: 2rem 0;
}

h1, h2 {
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 1.5rem;
}

/* Botões */
.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: var(--NEON-A-1);
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  color: var(--text);
  background-color: var(--NEON-A-1a);
}

/* Links */
a {
  font-weight: bold;
  background-color:  transparent;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--NEON-A-1a);
}

.home {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 1rem 0;
  line-height: 1rem; 
}

.home img{
  display: block;
  margin: 0 auto;
}
.text {
  margin-bottom: 1vw; 
  text-align: center; 
}

.img img {
  max-width: 90%; 
  border-radius: 5%;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

#about .content div {
  flex: 1 1 300px;
  text-align: left;
}

#about .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#about .text{
  margin-right: 3rem;
  margin-bottom: 3rem;
}

#about .img img {
  max-width: 70vw;
  height: 25rem;
  border-radius: 2rem;
  display: block;
  margin: 0 auto;
}

.carrossel {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 5%;
}

.carrossel-item {
  width: 100%;
  height: 100%;
  float: left;
}

.carrossel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#events .event-itens {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#events .event-itens div {
  flex: 1 1 300px;
  text-align: center;
}

#events .event-itens label {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
}

#events .event-itens img {
  max-width: 95vw;
  height: 15rem;
  border-radius: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

#events .event-itens div:nth-child(3n) {
  margin-right: 0;
}

.galeria-modal{
  width: 60%;
  height: 110%;
  background-color: var(--bg-color-modal);
  position: absolute;
  padding: 4%; 
  visibility: hidden; 
  z-index: 5;
}

.galeria-modal span{
  position: absolute;
  font-size: 25px;
  right: 0;
  cursor: pointer;
}

.galeria-modal img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.galeria{
  width: 90%;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 30vh;
}

.galeria .single-galeria{
  display: block;
  margin: 0 auto;
  border-radius: 5%;
  margin: 0.5vw;
  overflow: hidden;
}

.galeria .single-galeria img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 cursor: pointer;
 transition: transform 0.25s ease-in-out
}

.galeria .single-galeria img:hover{
  transform: scale(1.1);
 }

.h-2{
  grid-row: span 2;
}

.w-2{
  grid-column: span 2;
}

#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact iframe{
  max-width: 100%;  
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

/* Estilos para dispositivos menores */
@media screen and (max-width: 790px) {
  
  .logo img {
    max-width: 60%;
    margin-right: 1rem ;
    
  }
  .nav-links {
    display: none;
  }

  nav li{
    background-color: transparent;
  }
  
  .burger {
    display: block;
    cursor: pointer;
    margin-right: 20px;
  }

  .burger .line1, .burger .line2, .burger .line3 {
    width: 25px;
    height: 3px;
    background-color: var(--text);
    margin: 5px;
    transition: all 0.3s ease;
  }

  .burger.active .line1 {
    transform: rotate(-50deg) translate(-6px, 5px);
  }

  .burger.active .line2 {
    opacity: 0;
  }

  .burger.active .line3 {
    transform: rotate(50deg) translate(-6px, -5px);
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    background-color: var(--bg-color-burger);
    width: 70%;
    text-align: center;    
  }

  .nav-links.active li {
    margin: 10px 0;
  }

  .galeria{
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 15vh;
  }
 
}